@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url(css/reset.css);
@import url(css/exclusive.css);
@import url(css/header.css);
@import url(css/footer.css);
@import url(css/main-content.css);
@import url(css/order.css);
@import url(css/testimonials.css);
/* "Roboto" */

body{
  background-color: #80808c;
}

.max-width{
  max-width: 385px;
  width: 100%;
  margin: 0 auto;
  position: relative;
}

.normal-text-white {
  color: #fff;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.title-24px {
  color: #000;
font-family: Roboto;
font-size: 24px;
font-style: normal;
font-weight: 700;
line-height: normal;
padding: 0 10px;
}
.text-20px {
  color: #000;
font-family: Roboto;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: normal;
padding: 0 10px;
}

.text-16px{
  color: #000;
font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: normal;
padding: 0 16px;
}

.text-14px {
  color: #000;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
